.wy-nav-content {
    max-width: none;
}

.rst-content img.sauml {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}

.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

.wy-table-responsive table.option-list {
    width: 100%;
}

.wy-table-responsive table.option-list td:first-child {
    width: 20%;
}
