{% extends "site.html" %}

{% block head %}
  <title>Genealogical Queries – Acts (Phase 4)</title>
{% endblock %}

{% block h1 %}
  <h1>Genealogical Queries – Acts (Phase 4)</h1>
{% endblock %}

{% block content %}
  <a class="biglink" href="coherence">Coherence and Textual Flow</a>
  <a class="biglink" href="comparison">Comparison of Witnesses</a>

  <a class="biglink" href="/static/pdf/GenQ4_Guide.pdf" target="_blank">Short Guide (PDF)</a>

  <p>
    This new interface of the Genealogical Queries suite of tools is the
    result of a collaboration of the AWK project “Novum Testamentum Graecum -
    Editio Critica Maior” and the Cologne Center for eHumanities. –
    Programming: Marcello Perathoner.
  </p>

  <div class="logos">
    <a href="http://egora.uni-muenster.de/intf/index_en.shtml"><img src="/static/images/intf-logo.png" /></a>
    <a href="http://www.awk.nrw.de"><img src="/static/images/awk-logo-00.png" /></a>
    <a href="http://cceh.uni-koeln.de"><img src="/static/images/cceh-logo.png" /></a>
  </div>

{% endblock %}
