{% extends "site.html" %}

{% import 'toolbar.html' as tt %}

{% block head %}
  <title>Coherence</title>

  <script>
    require (['coherence'], function (coherence) { coherence.init () });
  </script>
{% endblock %}

{% block h1 %}
  <h1>
    Attestation for
    <span class="passage"></span>
    <span class="appname">{{config['APPLICATION_NAME']}}</span>
  </h1>
{% endblock %}

{% block content %}

  <script type="text/template" id="relatives-template">
    <div class="panel panel-closable panel-default panel-relatives">

      <div class="panel-heading panel-caption panel-relatives-caption">
        <div>
        </div>
      </div>

      {{ tt.toolbar ('relatives', 'relatives') }}

      <div class="panel-heading panel-slidable panel-relatives-metrics">
      </div>

      <div class="panel-slidable panel-relatives-content">
      </div>

    </div>
  </script>

  {% include 'navigator.html' %}

  <div class="panel panel-default panel-apparatus">
    <div class="panel-heading panel-caption panel-apparatus-caption">
      Apparatus
    </div>

    {{ tt.toolbar ('apparatus', 'apparatus') }}

    <ul class="panel-content list-group panel-slidable wrapper apparatus-wrapper">
    </ul>
  </div>

  <div class="panel panel-default panel-local-stemma">
    <div class="panel-heading panel-caption panel-local-stemma-caption">
      Local Stemma
    </div>

    {{ tt.toolbar ('stemma', 'stemma') }}

    <div class="panel-content svg-wrapper panel-slidable stemma-wrapper local-stemma-wrapper">
    </div>
  </div>

  {% if is_editor %}
  <div class="panel panel-default panel-notes">
    <div class="panel-heading panel-caption panel-notes-caption">
      Notes
    </div>

    {{ tt.toolbar ('notes', 'notes') }}

    <div class="panel-content panel-slidable notes-wrapper">
      <textarea></textarea>
    </div>
  </div>
  {% endif %}

  <div class="panel panel-default panel-textflow panel-variant-textflow">
    <div class="panel-heading panel-caption panel-variant-textflow-caption">
      Coherence at Variant Passages (GraphViz)
    </div>

    {{ tt.toolbar ('variant', 'variant') }}

    <div class="panel-content svg-wrapper panel-slidable textflow-wrapper variant-textflow-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow panel-variant-textflow-2">
    <div class="panel-heading panel-caption panel-variant-textflow-caption">
      Coherence at Variant Passages (Chord)
    </div>

    {{ tt.toolbar ('variant-2', 'variant') }}

    <div class="panel-content svg-wrapper panel-slidable textflow-wrapper variant-textflow-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow panel-local-textflow">
    <div class="panel-heading panel-caption panel-local-textflow-caption">
      Coherence in Attestations
    </div>

    {{ tt.toolbar ('local', 'local') }}

    <div class="panel-content svg-wrapper panel-slidable textflow-wrapper local-textflow-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow panel-global-textflow">
    <div class="panel-heading panel-caption panel-global-textflow-caption">
      General Textual Flow
    </div>

    {{ tt.toolbar ('global', 'global') }}

    <div class="panel-content svg-wrapper panel-slidable textflow-wrapper global-textflow-wrapper">
    </div>
  </div>

  {% include 'navigator.html' %}
{% endblock %}
