{% extends "site.html" %}

{% block page_class %}coherence_attestation{% endblock %}

{% block head %}
<link href="/static/css/coherence.css" rel="stylesheet" type="text/css" />
<link href="/static/css/coherence_attestation.css" rel="stylesheet" type="text/css" />
<title>{{_('Attestation for %(passage)s %(labez)s', passage = passage.hr_pass, labez = labez)}}</title>
<script>
  require (["d3-stemma"], function (stemma) {
    var pass_id = {{passage.pass_id}};
    var labez = '{{labez}}';

    stemma.init_json ('/coherence.json/' + pass_id + '/attestation/' + labez);
  });
</script>
{% endblock %}

{% block content %}

<div class="bs-docs-header">
  <div class="container">
    <h1>{{_('Attestation for %(passage)s %(labez)s', passage = passage.hr_pass, labez = labez)}}</h1>
  </div>
</div>

<div class="container bs-docs-container">
  <div id="passage-stemma-wrapper">

  </div>
</div>

{% endblock %}
