{% extends "site.html" %}

{% block head %}
<link href="/static/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css" rel="stylesheet" type="text/css" />
<link href="/static/css/coherence.css" rel="stylesheet" type="text/css" />
<link href="/static/css/relatives.css" rel="stylesheet" type="text/css" />
<link href="/static/css/textflow.css" rel="stylesheet" type="text/css" />

<title>{{_('Attestation for %(passage)s', passage = passage.to_hr ())}}</title>

<script>
  require (['coherence'], function (coherence) {
    coherence.init ({
      pass_id:          {{passage.pass_id}},
      chapter:          '{{passage.chapter}}',
      labez:            'a',
      title_prefix:     '{{_('Attestation for')}}',
    });
  });
</script>

{% endblock %}

{% block content %}
<div class="bs-docs-header">
  <div class="container">
    <h1>{{_('Attestation for')}} {{passage.to_hr ()}}</h1>
  </div>
</div>

<div class="container bs-docs-container">

  {% include 'navigator.html' %}

  <div class="panel panel-default panel-apparatus">
    <div class="panel-heading panel-apparatus-caption">
      {{_('Apparatus')}}
    </div>

    <ul id="apparatus-wrapper" class="list-group">
    </ul>
  </div>

  <div class="panel panel-default panel-local-stemma">
    <div class="panel-heading panel-local-stemma-caption">
      {{_('Local Stemma')}}
    </div>

    <div id="local-stemma-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow">
    <div class="panel-heading panel-textflow-caption">
      {{_('Textflow Diagram')}}
    </div>

    {% include 'textflow-toolbar.html' %}

    <div id="textflow-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-affinity">
    <div class="panel-heading panel-affinity-caption">
      {{_('Affinity Cloud')}}
    </div>

    <div id="affinity-wrapper">
    </div>
  </div>
</div>

{% endblock %}
