{% extends "site.html" %}

{% import 'textflow-toolbar.html' as tt %}

{% block head %}

<title></title>

<script>
  require (['coherence'], function (coherence) { coherence.init () });
</script>

{% endblock %}

{% block content %}
<div class="bs-docs-header">
  <div class="container">
    <h1>{{_('Attestation for')}} <span class="passage"></span> <span class="appname">{{config['APPLICATION_NAME']}}</span></h1>
  </div>
</div>

<div class="container bs-docs-container">

  {% include 'navigator.html' %}

  <div class="panel panel-default panel-apparatus">
    <div class="panel-heading panel-apparatus-caption">
      {{_('Apparatus')}}
    </div>

    {% include 'apparatus-toolbar.html' %}

    <ul id="apparatus-wrapper" class="list-group">
    </ul>
  </div>

  <div class="panel panel-default panel-local-stemma">
    <div class="panel-heading panel-local-stemma-caption">
      {{_('Local Stemma')}}
    </div>

    <div id="local-stemma-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow panel-local-textflow">
    <div class="panel-heading panel-local-textflow-caption">
      {{_('Textual Flow Diagram')}}
    </div>

    {{ tt.toolbar ('local') }}

    <div id="local-textflow-wrapper">
    </div>
  </div>

  <div class="panel panel-default panel-textflow panel-global-textflow">
    <div class="panel-heading panel-global-textflow-caption">
      {{_('Global Textual Flow Diagram')}}
    </div>

    {{ tt.toolbar ('global') }}

    <div id="global-textflow-wrapper">
    </div>
  </div>

  {% include 'navigator.html' %}

  <div class="panel panel-default panel-affinity">
    <div class="panel-heading panel-affinity-caption">
      {{_('Affinity Cloud')}}
    </div>

    <div id="affinity-wrapper">
    </div>
  </div>
</div>

{% endblock %}
