{% extends "site.html" %}

{% block page_class %}comparison{% endblock %}

{% block head %}
  <title>Comparison of Manuscripts</title>

  <script>
    require (['comparison'], function (comp) { comp.init () });
  </script>
{% endblock %}

{% block h1 %}
  <h1>
    <span class="caption" />
    <span class="appname">{{config['APPLICATION_NAME']}}</span>
  </h1>
{% endblock %}

{% block content %}
  <div class="navigator">
    <form class="manuscripts-selector form-inline">
      <div class="form-group">
        <label>Witness 1:</label>
        <input type="text" class="form-control" name="ms1"
               title="Enter the Gregory-Aland no. of the first witness ('A' for the initial text)." />
        <label>Witness 2:</label>
        <input type="text" class="form-control" name="ms2"
               title="Enter the Gregory-Aland no. of the second witness ('A' for the initial text)." />
      </div>
      <button type="submit" data="Go" class="btn btn-primary"
              title="Start the comparison.">Go</button>
    </form>
  </div>

  <div class="panel panel-default panel-comparison">

    <div class="panel-heading panel-comparison-header">
      <span class="caption"></span>
      <div class="btn-toolbar toolbar toolbar-comparison" role="toolbar">
      </div>
    </div>

    <!-- main table inserted here by JS -->

  </div>

{% endblock %}
