{% extends "site.html" %}

{% block page_class %}comparison{% endblock %}

{% block head %}
  <title>{{_('Comparison of Manuscripts')}}</title>

  <script>
    require (['comparison'], function (comp) { comp.init () });
  </script>
{% endblock %}

{% block h1 %}
  <h1>
    <span class="caption">
      {{_('Comparison of')}}
      <span class="ms1"></span> {{_('and')}} <span class="ms2"></span>
    </span>
    <span class="appname">{{config['APPLICATION_NAME']}}</span>
  </h1>
{% endblock %}

{% block content %}
  <div class="navigator">
    <form class="manuscripts-selector form-inline">
      <div class="form-group">
        <label>{{_('Witness')}} 1:</label>
        <input type="text" class="form-control" name="ms1"
               title="{{_('Enter the Gregory-Aland no. of the first witness (\'A\' for the initial text).')}}" />
        <label>{{_('Witness')}} 2:</label>
        <input type="text" class="form-control" name="ms2"
               title="{{_('Enter the Gregory-Aland no. of the second witness (\'A\' for the initial text).')}}" />
      </div>
      <button type="submit" data="Go" class="btn btn-primary"
              title="{{_('Start the comparison.')}}">{{_('Go')}}</button>
    </form>
  </div>

  <div class="panel panel-default panel-comparison">

    <div class="panel-heading panel-comparison-header">
      <span class="caption"></span>
      <div class="btn-toolbar toolbar toolbar-comparison" role="toolbar">
      </div>
    </div>

    <table class="comparison table table-bordered table-condensed table-hover" cellspacing="0">
      <thead>
        <tr>
          <th class="details-control"></th>
          <th class="chapter exportable">{{_('Chapter')}}</th>
          <th class="ms ms1 exportable">{{_('W1')}}</th>
          <th class="direction exportable">{{_('Dir')}}</th>
          <th class="ms ms2 exportable">{{_('W2')}}</th>
          <th class="rank exportable">{{_('Rank')}}</th>
          <th class="perc exportable">{{_('Perc')}}</th>
          <th class="eq exportable">{{_('Eq')}}</th>
          <th class="pass exportable">{{_('Pass')}}</th>
          <th class="w1w2 exportable">{{_('W1&lt;W2')}}</th>
          <th class="w2w1 exportable">{{_('W1&gt;W2')}}</th>
          <th class="uncl exportable">{{_('Uncl')}}</th>
          <th class="norel exportable">{{_('Norel')}}</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

{% endblock %}
