{% extends "site.html" %}

{% block head %}
  <title>Index</title>
{% endblock %}

{% block content %}
    <h1>Links</h1>
    <ul>
      <li><a href="/coherence/51314033">Attestation for Acts 13:14/33</a></li>
      <li><a href="/coherence/51817006">Attestation for Acts 18:17/6</a></li>
      <li><a href="/coherence/50608008-12">Attestation for Acts 6:8/8-12</a></li>
      <li><a href="/coherence/51225010-14">Attestation for Acts 12:25/10-14</a></li>
      <li><a href="/coherence/52028040">Attestation for Acts 20:28/40</a></li>

      <li><a href="/coherence/50206024">Attestation for Acts 2:6/24</a></li>
      <li><a href="/coherence/51031016-18">Attestation for Acts 10:31/16-18</a></li>
      <li><a href="/coherence/51108012-18">Attestation for Acts 11:8/12-18</a></li>

      <li><a href="/coherence/50217006-12">Attestation for Acts 2:17/6-12</a></li>
      <li><a href="/coherence/52601002-04">Attestation for Acts 26:1/2-4</a></li>
    </ul>
{% endblock %}
