{% extends "site.html" %}

{% block page_class %}ms_attesting{% endblock %}

{% block head %}
<title>Attestation for {{passage.to_hr ()}} {{labez}}</title>

<script>
  require ([
    'jquery',
    'css!bootstrap-css',
    'css!relatives-css',
    'css!ms_attesting-css'
  ], function ($) {
    $ (function () {
      $ ("div.relatives").each (function () {
        var a = $ (this);
        a.load (a.attr ("data-href"));
      });
    });
  });
</script>
{% endblock %}

{% block h1 %}
  <h1>Attestation for {{passage.to_hr ()}} {{labez}}</h1>
{% endblock %}

{% block content %}
  {% for r in rows %}
    <div class="relatives" data-href="../../relatives/{{passage.pass_id|e}}/{{r.hsnr|e}}"></div>
  {% endfor %}
{% endblock %}
