{% extends "site.html" %}

{% block page_class %}ms_attesting{% endblock %}

{% block head %}
<link href="/static/css/relatives.css" rel="stylesheet" type="text/css" />
<link href="/static/css/ms_attesting.css" rel="stylesheet" type="text/css" />
<title>{{_('Attestation for %(passage)s %(labez)s', passage = passage, labez = labez)}}</title>
<script>
  require (["jquery"], function ($) {
    $ (function () {
      $ ("div.relatives").each (function () {
        var a = $ (this);
        a.load (a.attr ("data-href"));
      });
    });
  });
</script>
{% endblock %}

{% block content %}

<div class="bs-docs-header">
  <div class="container">
    <h1>{{_('Attestation for %(passage)s %(labez)s', passage = passage, labez = labez)}}</h1>
  </div>
</div>

<div class="container bs-docs-container">
  {% for r in rows %}
  <div class="relatives" data-href="/relatives/{{pass_id|e}}/{{r.hsnr|e}}"></div>
  {% endfor %}
</div>

{% endblock %}
