<div class="navigator">
  <form class="passage-selector form-inline">

    <label class="sr-only">Previous Passage:</label>
    <button type="button" data="-1" class="btn btn-primary" title="Previous Passage">
      <span class="glyphicon glyphicon-triangle-left"/>
    </button>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon input-group-addon-leftmost">Nav:</span>

        <label class="sr-only">Book:</label>
        <input type="text" class="form-control" name="siglum" data-autocomplete="siglum" title="Book" />

        <label class="sr-only">Chapter:</label>
        <input type="text" class="form-control" name="chapter" data-autocomplete="chapter" title="Chapter" />

        <span class="input-group-addon input-group-addon-chapter">:</span>

        <label class="sr-only">Verse:</label>
        <input type="text" class="form-control" name="verse"   data-autocomplete="verse" title="Verse" />

        <span class="input-group-addon input-group-addon-verse">/</span>

        <label class="sr-only">Word:</label>
        <input type="text" class="form-control" name="word"    data-autocomplete="word" title="Word" />

        <span class="input-group-btn">
          <label class="sr-only">Go:</label>
          <button type="button" data="Go" class="btn btn-primary" title="Go">
            <span class="glyphicon glyphicon-ok"/>
          </button>
        </span>
      </div>
    </div>

    <label class="sr-only">Next Passage:</label>
    <button type="button" data="1" class="btn btn-primary" title="Next Passage">
      <span class="glyphicon glyphicon-triangle-right"/>
    </button>

    <input type="hidden" name="pass_id" value="" />
  </form>

  <div class="leitzeile">
  </div>

</div>
