{% import 'toolbar.html' as tt %}

<div class="panel panel-closable panel-default panel-relatives" data-ms-id="{{ms.ms_id}}">

  <div class="panel-heading panel-caption panel-relatives-caption">
    <span>{{caption}}</span>
    <span data-labez="{{ms.varnew[0]}}" class="fg_labez ms hilite-source"
          data-ms-id="{{ms.ms_id}}">{{ms.hs}} ({{ms.labez}}{{ms.labezsuf}})</span>
  </div>

  {{ tt.toolbar ('relatives', 'relatives') }}

  <div class="panel-heading panel-slidable panel-relatives-metrics">
  </div>

  <div class="panel-slidable panel-relatives-content">
  </div>

</div>
