<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/js/runtime.bundle.js?{{config['SERVER_START_TIME']}}"></script>
    <script src="/js/vendor.bundle.js?{{config['SERVER_START_TIME']}}"></script>
    <script src="/js/app.bundle.js?{{config['SERVER_START_TIME']}}"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body class="page_{% block page_class %}undefined{% endblock %}">
    <div id="floating-panels">
    </div>
    <div id="header">
      <div class="container">
        {% block header %}
        {% endblock %}
      </div>
    </div>
    <div id="content">
      <div class="bs-docs-header">
        <div class="container">
        {% block h1 %}
        {% endblock %}
        </div>
      </div>
      <div class="container bs-docs-container d-flex flex-row justify-content-end">
        {% if call_or_get(current_user.is_authenticated) %}
          <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
          &#xa0; | &#xa0;
          <a class="user_logout_link" href="{{ url_for('user.logout') }}">Sign out</a>
          &#xa0; | &#xa0;
        {% endif %}
        {% block menu %}
          <a href="/static/pdf/GenQ4_Guide.pdf" target="_blank">Short Guide (PDF)</a>
          {% endblock %}
      </div>
      <div class="container bs-docs-container">
        {% block flash_messages %}
           {%- set messages = get_flashed_messages (with_categories = True) -%}
           {% if messages %}
              {% for category, message in messages %}
                 {% if category == 'error' %}
                    {% set category = 'danger' %}
                 {% endif %}
                 <div class="alert alert-{{category}} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close"><span aria-hidden="true">×</span></button>
                 {{ message|safe }}</div>
              {% endfor %}
           {% endif %}
           {% endblock %}
      </div>
      <div class="container bs-docs-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
