<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript">server_start_time = '{{config['server_start_time']}}';</script>
    <script src="/static/bower_components/requirejs/require.js?bust={{config['server_start_time']}}"></script>
    <script src="/static/js/config.require.js?bust={{config['server_start_time']}}"></script>

    {% block head %}
    {% endblock %}
  </head>

  <body class="page_{% block page_class %}undefined{% endblock %}">
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>
