<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript">server_start_time = '{{config['server_start_time']}}';</script>
    <script src="/static/bower_components/requirejs/require.js?bust={{config['server_start_time']}}"></script>
    <script src="/static/js/config.require.js?bust={{config['server_start_time']}}"></script>

    <script>
      require (['jquery', 'tools', 'css!bootstrap-css', 'css!site-css'], function ($, tools) { tools.init (); });
      {# @var is_logged_in True if the user is logged in.  Toggling this variable will not log in the user.
	                       All endpoints are checked by the server independently of the setting of this variable.  #}
      var is_logged_in = {{ 'true' if current_user.is_authenticated else 'false' }};
      var is_editor    = {{ 'true' if current_user.is_authenticated and current_user.has_role ('editor') else 'false' }};
    </script>

    {% block head %}
    {% endblock %}
  </head>

  <body class="page_{% block page_class %}undefined{% endblock %}">
    <div id="header">
      <div class="container">
        {% block header %}
        {% endblock %}
      </div>
    </div>
    <div id="content">
      <div class="bs-docs-header">
        <div class="container">
        {% block h1 %}
        {% endblock %}
        </div>
      </div>
      <div class="container bs-docs-container">
        <div class="clearfix">
          <div class="pull-right">
          {% if call_or_get(current_user.is_authenticated) %}
            <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
            &nbsp; | &nbsp;
            <a class="user_logout_link" href="{{ url_for('user.logout') }}">Sign out</a>
          {% else %}
            <a class="user_login_link" href="{{ url_for('user.login') }}">Sign in</a>
          {% endif %}
          </div>
        </div>
        {% block menu %}
        {% endblock %}
        {% block flash_messages %}
          {%- with messages = get_flashed_messages (with_categories = True) -%}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'error' %}
                  {% set category = 'danger' %}
                {% endif %}
                <div class="alert alert-{{category}} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert"
                          aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message|safe }}</div>
              {% endfor %}
            {% endif %}
          {%- endwith %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
    <div id="floating-panels">
    </div>
  </body>
</html>
