<div class="panel-heading panel-textflow-toolbar">
  <div class="btn-toolbar toolbar-textflow" role="toolbar">

    <div class="textflow-labez btn-group btn-group-xs">
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-labez bg_labez"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="btn_text"></span> <span class="caret"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-labez">
        <div class="btn-group btn-group-xs" data-toggle="buttons">
          <!-- filled by coherence.js -->
        </div>
      </div>
    </div>

    <div class="textflow-connectivity btn-group btn-group-xs" data-toggle="buttons">
      <label class="btn btn-primary">
        <span class="connectivity-label"></span>
        <input type="text" name="connectivity" />
      </label>
    </div>

    <div class="textflow-chapter btn-group btn-group-xs" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="chapter" data-opt="0">{{_('All')}}</input>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="chapter" data-opt="1">{{_('Ch')}}</input>
      </label>
    </div>

    <div class="textflow-include btn-group btn-group-xs" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="checkbox" name="include" data-opt="A">{{_('A')}}</input>
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="include" data-opt="MT">{{_('MT')}}</input>
      </label>
    </div>

    <div class="coherence-fragments btn-group btn-group-xs" data-toggle="buttons">
	  <label class="btn btn-primary">
        <input type="checkbox" name="fragments" data-opt="1">{{_('Frag')}}</input>
	  </label>
    </div>

    <div class="textflow-mode btn-group btn-group-xs" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="mode" data-opt="rec">{{_('Rec')}}</input>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="mode" data-opt="sim">{{_('Sim')}}</input>
      </label>
    </div>

  </div>
</div>
