@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

@link-color: #ccc;
@link-opacity: 0.6;

#floating-panels {
    position: relative;
}

form.passage-selector {
    margin-bottom: 20px;
    input[type=text] {
        width: 12em;
    }
}

ul.apparatus-wrapper {
    font-size: smaller;
    h4.list-group-item-heading {
        display: inline;
    }
    ul.list-group-item-text    {
        display: inline;
        padding-left: 2em;
    }
}

.ms[data-ms-id]:hover {
    cursor: pointer;
    text-decoration: underline;
}

a.highlight, span.highlight {
    background-color: #ff0;
}

a.selected, span.selected {
    outline: 2px solid #f00;
}

/* links */

path, line {
    &.link {
        stroke: @link-color;
        stroke-width: 2px;
        stroke-opacity: @link-opacity;
        fill: none;
        &.broken {
            stroke-dasharray: 4 4;
        }
        &.hover {
            stroke: red;
            stroke-opacity: 1.0;
        }
    }
}

marker.link {
    stroke: @link-color;
    stroke-opacity: @link-opacity;
    fill: #000;
    fill-opacity: 1.0;
    stroke-dasharray: none;
    visibility: hidden;
    /* path {
        stroke: context-stroke;
        fill: context-stroke;
    } */
}

div.variant-textflow-wrapper {
    path.link {
        stroke-dasharray: none;
    }
    marker.link {
        visibility: visible;
    }
}

/* nodes */

circle.node {
    stroke: #fff;
    stroke-width: 0px;
    transition: fill 2s linear;
    cursor: pointer;
}

div.affinity-wrapper {
    circle.node {
        stroke-width: 2px;
        &.hsnr_0 {
            stroke: #000;
        }
        &.hsnr_1 {
            stroke: #000;
        }
    }
}

line.link.highlight,
g.highlight circle.node {
    stroke: #ff0;
    stroke-width: 3px;
    stroke-opacity: 1.0;
}
g.selected circle.node {
    stroke: #f00;
    stroke-width: 3px;
    stroke-opacity: 1.0;
}

text {
    dominant-baseline: middle;
    fill: #000;
    stroke: #fff;
    stroke-width: 3px;
    stroke-linejoin: round;
    text-anchor: middle;
    pointer-events: none;
    paint-order: stroke;
    &.group {
        font-size: 120%;
    }
    &:hover {
        text-decoration: underline;
    }
}

/* subgraphs */

rect.subgraph {
    stroke: @panel-default-border;
    stroke-width: 1px;
    fill: @panel-default-heading-bg;
    rx: 5px;
    ry: 5px;
}

/* wrapper */

div.svg-wrapper {
    width: 100%;
    svg {
        display: block;
        margin: 1em auto;
    }
}
