form.passage-selector .input-group input.form-control {
  text-align: right;
  width: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
form.passage-selector .input-group input.form-control[name=word] {
  width: 6em;
}
form.passage-selector .input-group span.input-group-addon-chapter,
form.passage-selector .input-group span.input-group-addon-verse {
  padding: 6px;
  border-width: 1px 0;
}
.ui-menu td.ui-menu-item-wrapper {
  padding: 3px 20px;
}
.ui-menu td.ui-menu-item-wrapper.ui-state-active {
  margin: 0;
  border-width: 0;
  color: #fff;
  background: #337ab7;
}
.ui-menu td.ui-menu-item-wrapper.menu-label {
  text-align: right;
}
.ui-menu td.ui-menu-item-wrapper.menu-description {
  padding-left: 0;
}
tr.ui-menu-item.ui-state-active {
  margin: 0;
  border-width: 0;
  background: #ccc;
}
.dropdown-menu-table {
  display: table;
  z-index: 1000;
  float: left;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
