form.passage-selector .input-group input.form-control {
  text-align: right;
  width: 3.5em;
}
form.passage-selector .input-group input.form-control[name=siglum] {
  text-align: left;
  border-right-width: 0;
}
form.passage-selector .input-group input.form-control[name=word] {
  width: 6.5em;
}
form.passage-selector .input-group span.input-group-addon-chapter,
form.passage-selector .input-group span.input-group-addon-verse {
  padding: 6px;
  border-width: 1px 0;
}
form.passage-selector span.glyphicon {
  top: 2px;
  font-size: 90%;
}
.dropdown-menu-table {
  display: table;
  z-index: 1000;
  float: left;
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu-table.ui-menu td.ui-menu-item-wrapper {
  padding: 3px 20px;
}
.dropdown-menu-table.ui-menu td.ui-menu-item-wrapper.ui-state-active {
  margin: 0;
  border-width: 0;
  color: #fff;
  background: #337ab7;
}
.dropdown-menu-table.ui-menu td.ui-menu-item-wrapper.menu-label {
  text-align: right;
}
.dropdown-menu-table.ui-menu td.ui-menu-item-wrapper.menu-description {
  padding-left: 0;
}
.dropdown-menu-table tr.ui-menu-item.ui-state-active {
  margin: 0;
  border-width: 0;
  background: #ccc;
}
form.passage-selector {
  margin-bottom: 20px;
}
form.passage-selector input[type=text] {
  width: 12em;
}
div.leitzeile {
  margin-bottom: 20px;
  font-size: larger;
}
div.leitzeile .leitzeile-current {
  color: #d62728;
  pointer-events: none;
}
div.leitzeile .leitzeile-spanned {
  border-bottom: 1px dotted grey;
}
div.leitzeile .leitzeile-one::before {
  content: '⸀';
  /* 2e00 */
}
div.leitzeile .leitzeile-insert::before {
  content: '⸆';
  /* 2e06 */
}
div.leitzeile .leitzeile-many::before {
  content: '⸂';
}
div.leitzeile .leitzeile-many::after {
  content: '⸃';
}
