div.panel-relatives {
  z-index: 10;
  width: 36em;
  min-width: auto;
}
div.panel-relatives span.ms {
  font-weight: bold;
}
div.panel-relatives div.panel-relatives-caption .close {
  padding-left: 4px;
  font-size: 1.1em;
}
div.panel-relatives div.panel-relatives-toolbar {
  border-bottom-width: 0;
}
div.panel-relatives div.panel-relatives-content {
  max-height: 50em;
  overflow: auto;
}
table.relatives {
  margin-bottom: 0;
}
table.relatives th {
  text-align: right;
}
table.relatives td.rank {
  text-align: right;
}
table.relatives td.direction {
  text-align: right;
}
table.relatives td.perc {
  text-align: right;
}
table.relatives td.equal {
  text-align: right;
}
table.relatives td.older {
  text-align: right;
}
