div.panel-relatives {
    z-index: 10;
    width: 36em;
    min-width: auto;
    span.ms {
        font-weight: bold;
    }
    div.panel-relatives-caption .close {
        padding-left: 4px;
        font-size: 1.1em;
    }
    div.panel-relatives-toolbar {
        border-bottom-width: 0;
    }
    div.panel-relatives-content {
        max-height: 50em;
        overflow: auto;
    }
}

table.relatives {
    margin-bottom: 0;
    th {
        text-align: right;
    }
    td {
        &.rank {
            text-align: right;
        }
        &.direction {
            text-align: right;
        }
        &.perc {
            text-align: right;
        }
        &.equal {
            text-align: right;
        }
        &.older {
            text-align: right;
        }
    }
}
