div.bs-docs-header {
  margin-bottom: 1em;
  color: #cdbfe3;
  background-color: #6f5499;
}
div.bs-docs-header h1 {
  color: white;
}
div.bs-docs-header h1 span.appname {
  float: right;
}
div.helpmenu {
  float: right;
}
a.biglink {
  display: block;
  font-size: 150%;
  margin: 1em 0;
}
div.logos {
  margin-top: 2em;
}
div.logos img {
  height: 100px;
  padding-right: 1em;
}
.alert {
  margin-top: 20px;
}
.alert.alert-margins {
  margin: 20px 15px;
}
