@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

div.bs-docs-header {
   margin-bottom: 1em;

   color: #cdbfe3;
   background-color: #6f5499;
   h1 {
      color: white;
      span.appname {
	  float: right;
      }
   }
}

div.bs-docs-content {
}

.alert {
    margin-top: @line-height-computed;
}
