div.toolbar-connectivity .slider {
  margin-left: 1em;
  margin-right: 1em;
}
div.toolbar-connectivity span.connectivity-label {
  display: inline-block;
  width: 1.5em;
  text-align: right;
}
.slider.slider-horizontal {
  width: 200px;
  height: 16px;
}
.slider.slider-horizontal .slider-handle {
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}
.slider.slider-horizontal .slider-tick {
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.slider.slider-horizontal .slider-track {
  top: 50%;
  height: 4px;
  margin-top: -2px;
}
.slider.slider-horizontal .slider-tick-container {
  top: 50%;
}
.slider-handle {
  width: 12px;
  height: 12px;
  opacity: 1.0;
}
.slider-tick {
  width: 8px;
  height: 8px;
  opacity: 1.0;
}
