div.toolbar-connectivity .slider {
  margin-left: 1em;
  margin-right: 1em;
}
div.toolbar-connectivity span.connectivity-label {
  display: inline-block;
  width: 1.5em;
  text-align: right;
}
.slider.slider-horizontal {
  width: 200px;
  height: 16px;
}
.slider.slider-horizontal .slider-handle {
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
}
.slider.slider-horizontal .slider-tick {
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
}
.slider.slider-horizontal .slider-track {
  top: 50%;
  height: 4px;
  margin-top: -2px;
}
.slider.slider-horizontal .slider-tick-container {
  top: 50%;
}
.slider-handle {
  width: 12px;
  height: 12px;
  opacity: 1.0;
}
.slider-tick {
  width: 8px;
  height: 8px;
  opacity: 1.0;
}
div.panel table.contextmenu {
  position: absolute;
  z-index: 1000;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
div.panel table.contextmenu tr.ui-menu-item.ui-state-active {
  margin: 0;
  border-width: 0;
  background: #ccc;
}
div.panel table.contextmenu td.ui-menu-item-wrapper {
  /* padding: 3px 20px; */
}
div.panel table.contextmenu td.ui-menu-item-wrapper.ui-state-active {
  margin: 0;
  border-width: 0;
  color: #fff;
  background: #337ab7;
}
div.panel table.contextmenu td.ui-menu-item-wrapper.menu-label {
  text-align: right;
}
div.panel table.contextmenu td.ui-menu-item-wrapper.menu-description {
  padding-left: 0;
}
