div.btn-toolbar {
    margin-top: -5px;
    > div.btn-group {
	margin-top: 5px;
    }
}

div.dropdown-menu div.btn-group {
    margin-top: 0;
}

div.textflow-connectivity .slider {
    margin-left: 1.5em;
    margin-right: 1em;
}

span.textflow-connectivity-label {
    float: left;
    width: 1.5em;
    text-align: right;
}

.slider.slider-horizontal {
    width: 200px;
    height: 16px;

    .slider-handle {
	top:         50%;
	margin-top:  -6px;
	margin-left: -6px;
    }
    .slider-tick {
	top:         50%;
	margin-top:  -4px;
	margin-left: -4px;
    }
    .slider-track {
	top:         50%;
	height:      4px;
	margin-top: -2px;
    }
    .slider-tick-container {
	top: 50%;
    }
}

.slider-handle {
    width:  12px;
    height: 12px;
    opacity: 1.0;
}

.slider-tick {
    width:   8px;
    height:  8px;
    opacity: 1.0;
}
