div.panel table.contextmenu {
  position: absolute;
  z-index: 1000;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
div.panel table.contextmenu tr.ui-menu-item.ui-state-active {
  margin: 0;
  border-width: 0;
  background: #ccc;
}
div.panel table.contextmenu td.ui-menu-item-wrapper {
  /* padding: 3px 20px; */
}
div.panel table.contextmenu td.ui-menu-item-wrapper.ui-state-active {
  margin: 0;
  border-width: 0;
  color: #fff;
  background: #337ab7;
}
div.panel table.contextmenu td.ui-menu-item-wrapper.menu-label {
  text-align: right;
}
div.panel table.contextmenu td.ui-menu-item-wrapper.menu-description {
  padding-left: 0;
}
