.wy-nav-content {
    max-width: none;
}

.wy-table-responsive table td {
    white-space: normal !important;
}

.wy-table-responsive {
    overflow: visible !important;
}

.wy-table-responsive table.option-list {
    width: 100%;
}

.wy-table-responsive table.option-list td:first-child {
    width: 20%;
}

.rst-content div.pic svg {
    margin-top: 12px;
    margin-bottom: 12px;
}

.rst-content div.pic.pic-w100 svg {
    width: 100%;
    height: auto;
}
